body.page-template-about {

	#main {
		article {

		}

		aside {
			h3 {
				font-weight: bold;
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.03em;
				padding: 0 0 20px 0;
			}

			.officer {
				display: flex;
				padding: 0 0 50px 0;
				align-items: center;

				.photo {
					img {
						max-width: 64px;
					}
				}

				.info {
					padding: 0 0 0 20px;
					h4 {
						font-size: 0.875em;
						font-weight: bold;
					}

					h5 {
						font-size: 0.875em;
						padding: 0 0 10px 0;
					}

					a {
						font-size: 0.75em;
						display: inline-block;
						font-weight: 500;
					}
				}
			}
		}
	}



}