body.post-type-archive-tribe_events {
	.tribe-events-pg-template {
		padding: 100px 0;

		#tribe-events {
			margin: 0 auto;
			max-width: 1200px; 
			padding: 0 25px;
		    transition: padding 0.2s ease-in;

			@media screen and (min-width: 1260px) {
				padding: 0;
			}		
		}
	}

	.tribe-events-page-title {
		font-weight: 700;
		font-size: 1.25em;
		padding: 0 0 25px 0;
	}

	#tribe-bar-form,
	#tribe-events-footer,
	.tribe-events-button,
	.tribe-events-tooltip {
		display: none !important;
	}

	.tribe-events-notices {
		border: none;
		border-radius: 0;
		background: transparent;
		padding: 0;
		margin: 0 0 50px 0;

		li {
			font-weight: 700;
			font-size: 0.8125em;
			text-align: center;
			color: $white;
			background: $blue;
			display: block;
			padding: 10px;
			text-shadow: none;
		}
	}

	.tribe-events-calendar td a {
		font-size: 0.875em;
		font-weight: 700;
	}

	.tribe-events-calendar div[id*=tribe-events-daynum-],
	.tribe-events-calendar div[id*=tribe-events-daynum-] a {
		font-size: 1em;
	}

	h2.tribe-events-page-title {
		font-weight: 700;
		font-size: 1.25em;
		padding: 0 0 25px 0;
	}

	#tribe-events-content ul.tribe-events-sub-nav {
		display: flex;
		justify-content: space-between;
		padding: 0 0 10px 0;

		a {
			font-weight: 700;
			font-size: 0.875em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}


	@media screen and (max-width: 767px) {

		#tribe-events-content ul.tribe-events-sub-nav {
			padding: 0 0 20px 0;
		}

		table.tribe-events-calendar {
			border: none;
			thead {
				display: none;
			}

			tbody {
				tr {
					display: flex;
					flex-wrap: wrap;

					td {
						width: 100%;
						display: block;
						border: none;
						padding: 0 0 50px 0;
						height: auto;
					}

					td[data-no-event="true"] {
						display: none;
					}
				}
			}


			.type-tribe_events {
				padding: 0 !important;
				margin: 0 !important;
			}


			div[id*=tribe-events-daynum-],
			div[id*=tribe-events-daynum-] a {
				font-size: 1.5em !important;
				padding: 0 0 5px 0 !important;
			}

			td h3 a {
				font-size: 1.125em;
			}

		}
	}
}