body.page-template-awards {

	#main {

		article {
			width: 100%;

			@include tablet-landscape {
				width: 80%;
			}

			@include desktop {
				width: 66%;
			}
			section#award-list {

				.award {
					padding: 20px 0;
					border-bottom: 1px solid #d5d5d5;

					&:last-of-type {
						border-bottom: none;
					}


					.header {
						display: flex;
						width: 100%;
						padding: 0 0 20px 0;
						align-items: flex-start;

						flex-wrap: wrap;

						@include tablet-portrait {
							justify-content: space-between;
						}

						.title {
							width: 100%;
							padding: 0 0 20px 0;
							
							@include tablet-portrait {
								width: 60%;
								padding: 0;
							}
							
							h4 {
								font-size: 1.25em;
								font-weight: bold;
							}

							em {
								display: inline-block;
								padding: 10px 0 0 0;
								font-size: 0.875em;
							}
						}

						.score-sheet {
							margin-right: 10px;
							@include tablet-portrait {
								margin-left: auto;
								
							}
						}

						.btn {
							font-weight: bold;
							padding: 10px 16px 12px 16px
						}
					}

					p {
						font-size: 1em;
					}

				}


			}

			section#gallery {
				clear: both;
				padding: 40px 0 0 0;
			}

			section#dinner {
				clear: both;
				padding: 40px 0 0 0;
			}

		}

		aside {

		}
	}



}