body.page-template-contact {

	#main {

		article {
			p {
				font-size: 1.125em;
			}

			section.list {
				padding: 0 0 30px 0;

				.person {
					display: flex;
					width: 100%;
					padding: 15px 15px;
					align-items: center;

					&:nth-child(even) {
						background: #f5f5f5;
						border-radius: 2px;
					}

					.name {
						width: 50%;

						h5 {
							font-size: 0.9375em;
							font-weight: 500;
						}
						h4 {
							font-weight: 900;
							padding: 0 0 2px 0;
							font-size: 0.6875em;
							text-transform: uppercase;
							letter-spacing: 0.1em;
						}
					}

					.email {
						width: 25%;

						a {
							font-size: 0.875em;
							font-weight: bold;
							text-decoration: underline;
						}
					}

					.phone {
						width: 25%;

						span {
							font-size: 0.875em;
						}
					}
				}

			}

		}

		aside {
			h3 {
				font-weight: bold;
				font-size: 1.5em;
				padding: 0 0 20px 0;
			}

			div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
			div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
			div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
				max-width: 100%;
			}
			.gform_wrapper {
				margin: 0;

				ul li.gfield {
					margin: 0 0 20px 0;
					padding: 0;

					input {
						width: 100%;
					}
				}
			}

		}

	}

}