body.page-template-education {

	#main {

		article {

			.course {

				&#intermediate {
					padding: 50px 0 0 0;
					border-top: 5px solid $slate;
					margin: 70px 0 0 0;
				}

				p {
					font-size: 1.125em;
					line-height: 1.5em;
					padding: 0 0 40px 0;
				}

				h4 {
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					padding: 0 0 10px 0;
				}

				.btn {
					font-weight: bold;
					margin: 50px 0 0 0;
				}

				p.closed {
					margin: 50px 0 0 0;
					padding: 20px;
					border: 2px solid $orange;
					font-size: 1em;
					font-style: italic;
					font-weight: bold;
				}

				.schedule {

					.header {
						display: none;
					}

					.class {
						& + .class {
							padding: 20px 0 0 0;
							border-top: 1px solid #e5e5e5;
							margin: 20px 0 0 0;
						}

						span {
							display: block;
							font-size: 0.9375em;
						}

						.course {
							font-weight: bold;
							font-size: 1.125em;
						}

						.date {
							text-transform: uppercase;
							font-size: 0.8125em;
							font-weight: bold;
							letter-spacing: 0.05em;
							padding: 0 0 10px 0;
						}
						.curriculum {
							padding: 0 0 5px 0;
						}

						.instructor {
							font-style: italic;
						}


					}


					@include tablet-landscape {

						.header, .class {
							display: flex;
							align-items: center;

							span {
								font-size: 0.8125em !important;
								padding: 10px !important;
								font-weight: normal !important;
								font-style: normal !important;
								letter-spacing: 0 !important;
								text-transform: none !important;
							}

							.course {
								width: 15%;
								font-weight: normal;
							}

							.date {
								width: 25%;
							}

							.curriculum {
								width: 40%;
								font-weight: bold !important;
								padding-left: 20px;

							}

							.instructor {
								width: 20%;
							}
						}

						.header {
							border-bottom: 2px solid $slate;
							
							span {
								font-weight: bold !important;
								text-transform: uppercase !important;
							}

						}

						.class {

							& + .class {
								border-top: 1px solid #e5e5e5;
								padding: 0;
								margin: 0;
								min-height: 40px;
							}

							&:nth-child(odd) {
								background: #fafafa;
							}
						}

					}

				}

			}

		}

		aside {

			.about{
				padding: 20px;
				border: 1px solid #d5d5d5;

				p {
					font-size: 0.9375em;
					line-height: 1.25em;
					font-weight: bold;

					& + p {
						padding: 20px 0 0 0;
					}
					
				}
			}

		}

	}

}