footer {
	background: $slate;
	color: $white;
	padding: 75px 0;
	clear: both;

	a {
		color: $white;
	}


	.separator {
		padding: 0 0 50px 0;
	}

	section.footer-content {
		@include tablet-portrait {
			display: flex;
			justify-content: space-between;
		}
	}


	div.logo-nav {

		.logo {
			padding: 0 0 50px 0;

			@include tablet-portrait {
				padding: 0 0 100px 0;
			}

			span {
				font-family: $crimson;
				font-style: italic;
				font-size: 1em;
				font-weight: 500;
				margin: 10px 0 0 95px;
				color: $white;
				display: inline-block;
			}
		}

		nav {

			.row {
				padding: 10px 0 0 0;
			}
			a.home {
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.04em;
				font-size: 1.125em;
				padding: 0;
			}

			a {
				font-size: 0.875em;
				display: inline-block;
				padding: 0 15px 0 0;

				@include tablet-portrait {
					font-size: 1em;
					padding: 0 25px 0 0;
				}
			}
		}

	}


	div.social-copyright {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.social-links {
			display: flex;
			padding: 0 0 50px 0;

			@include tablet-portrait {
				justify-content: flex-end;
			}

			a {
				display: inline-block;
				margin: 0 20px 0 0;
			}
		}

		.copyright {
			border-top: 2px solid #959595;
			padding: 20px 0 0 0;
			max-width: 300px;

			@include tablet-portrait {
				width: 300px;
				text-align: right;
			}

			p {
				font-size: 0.75em;
				line-height: 1.25em;
				color: #959595;
			}
		}


	}



}