body.page-template-generic {

	section.wysiwyg {
		padding: 25px 0;

		@include tablet-portrait {
			padding: 50px 0;
		}

		.wrapper {
			max-width: 960px;
		}


		p {
			font-size: 1em;
			line-height: 1.375em;
			padding: 0 0 25px 0;

			@include tablet-portrait {
				font-size: 1.25em;
			}
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}

		ul, ol {
			padding: 0 0 25px 50px;

			li {
				font-size: 0.875em;
				line-height: 1.25em;

				@include tablet-portrait {
					font-size: 1.125em;
				}

				& + li {
					padding: 10px 0 0 0;
				}
			}
		}

		blockquote {

			padding: 0 0 0 25px;
			margin: 0 0 25px 25px;
			border-left: 3px solid $orange;

			p {
				padding: 0;
			}
		}

		a:hover {
			text-decoration: underline;
		}
	}

	section.full-width-image {
		margin: 25px 0;

		@include tablet-portrait {
			margin: 50px 0;
		}

		img {
			width: 100%;
		}
	}

	section.three-col-image {
		padding: 25px 0;

		@include tablet-portrait {
			padding: 50px 0;
		}

		.wrapper {
			max-width: 960px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@include tablet-portrait {
				justify-content: space-between;
			}
		}

		.col {
			width: 100%;
			

			& + .col {
				padding: 50px 0 0 0;
			}

			@include mobile-landscape {
				width: 48%;

				.col {
					margin-right: auto;
				}

				& + .col {
					padding: 0;
					margin-left: auto;
				}

				& + .col + .col {
					padding: 50px 0 0 0;
					margin: 0 auto;

				}

			}

			@include tablet-portrait {
				width: 31.3333%;
				padding: 0;

					.col {
						margin-right: 0;
					}

					& + .col {
						padding: 0;
						margin-left: 0;
					}

					& + .col + .col {
						padding: 0;
						margin: 0;

					}

			}

			.info {
				padding: 10px 0 0 0;

				p {
					font-size: 0.875em;
					line-height: 1.375em;

					@include tablet-portrait {
						font-size: 1em;
					}
				}
			}
		}
	}

	section.call-to-action {
		text-align: center;
		padding: 25px 0;

		@include tablet-portrait {
			padding: 50px 0;
		}

		a.btn {
			font-size: 1.5em;
		}
	}

}