header.site-header {
	padding: 30px 0;
	background: $orange;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
	
		&.desktop {
			display: none;
			max-width: 400px;

			@include mobile-landscape {
				display: block;
			}
		}
		&.mobile {
			max-width: 200px;

			@include mobile-landscape {
				display: none;
			}
		}

		span {
			font-family: $crimson;
			font-style: italic;
			font-size: 1em;
			font-weight: 500;
			margin: 10px 0 0 0;
			color: $white;
			display: inline-block;

			@include tablet-landscape {
				font-size: 1.125em;
			}
		}
	}



	#toggle {
		width: 40px;
	    cursor: pointer;
	    padding: 8px 5px 8px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);

		@include tablet-portrait {
			display: none;
		}

		.patty {
		    width: 40px;
		    height: 4px;
		    background: $white;
		    transition: all 0.3s;
		    border-radius: 2px;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 40px;
			    height: 4px;
			    background: $white;
			    position: absolute;
			    z-index: 1;
			    transition: all 0.3s;
			    border-radius: 2px;
			}
			&:before {
			    top: -12px;
			}
			&:after {
			    top: 12px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    transform: rotate(-45deg);
			}
		}

	}

	nav#main {
		display: none;
		
		@include tablet-portrait {
			display: block;
		}


		a {
			color: $white;
			font-size: 1em;
			font-weight: 700;
			display: inline-block;
			margin: 0 0 0 30px;

			@include tablet-landscape {
				font-size: 1.125em;
				margin: 0 0 0 50px;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}


}


nav#utility {
	padding: 20px 0;
	display: none;
	
	@include tablet-portrait {
		display: block;
	}

	.wrapper {
		display: flex;
		justify-content: flex-end;

		a {
			display: inline-block;
			margin: 0 0 0 30px;
			font-family: $crimson;
			font-style: italic;
			color: $blue;
			font-weight: bold;
			font-size: 1.0625em;

			&:hover {
				text-decoration: underline;
			}
		}

	}

}

nav#mobile {
	padding: 20px 0;
	background: $blue;
	display: none;

	@include tablet-portrait {
		display: none !important;
	}

	a {
		display: block;
		text-align: center;
		padding: 10px 0;
		font-weight: bold;
		font-size: 1.25em;
		color: $white;
	}

}
