body.home {

	section#hero {

		.wrapper {
			justify-content: flex-end;
		}

		.info {
			height: 100%;
			width: 100%;
			max-width: 480px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			align-self: flex-end;
			padding: 0 0 0 120px;

			@include tablet-portrait {
				width: 50%;
				padding: 0;
				max-width: 600px;
			}

			h1 {
				color: $white;
				font-size: 1.5em;
				font-weight: 100;
				width: 100%;

				@include mobile-landscape {
					font-size: 1.75em;
				}

				@include tablet-portrait {
					font-size: 2.5em;
				}

				@include tablet-landscape {
					font-size: 3em;
				}

				@include desktop {
					font-size: 3.5em;
				}
			}

			h2 {
				color: $white;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.125em;
				text-align: left;
				width: 100%;
				padding: 20px 0 0 0;

				@include tablet-portrait {
					font-size: 1.25em;
					padding: 40px 0 0 0;
				}
			}

			.illumination {
				width: 100%;
				max-width: 750px;
				padding: 20px 0 0 0;

				@include tablet-portrait {
					padding: 40px 0 0 0;
				}


				span {
	
					&.small {
						opacity: 0.8;
					}
					
					&.medium {
						opacity: 0.9;
					}

					&.large {
						opacity: 1;
					}

				}

			}
		}

	}


	section#about-statement {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 850px;
		}

		p {
			color: $blue;
			font-size: 1.125em;
			line-height: 1.25em;
			text-align: center;

			@include tablet-portrait {
				font-size: 1.625em;
			}
		}

	}

	section#upcoming {
		padding: 100px 0;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			> section {
				width: 100%;

				@include tablet-landscape {
					width: 50%;
					max-width: 440px;
				}
			}
		}

		section {

			h3 {
				font-weight: bold;
				color: $blue;
				text-transform: uppercase;
				font-size: 1.5em;
				text-align: center;
				padding: 0 0 50px 0;

				@include tablet-landscape {
					font-size: 2em;
				}

			}

			&#upcoming-classes {
				padding: 100px 0 0 0;

				@include tablet-landscape {
					padding: 0;
				}



				.event {
					.date {
						text-align: left;
						border: none;
						min-width: 54px;
					}
					.info {
						padding-top: 5px;
					}

				}
			}
		}



		.btn-wrapper {
			display: table;
			text-align: center;
			width: 100%;
		}

		.btn {

		}

	}

	section#member-spotlight {
		padding: 50px 0;
		background: $blue;
		color: $white;
		width: 100%;
		float: left;

		@include tablet-portrait {
			padding: 100px 0;
		}

		section.header {
			text-align: center;
			padding: 0 0 50px 0;

			h3 {
				font-family: $crimson;
				font-style: italic;
				font-size: 2.25em;
				padding: 0 0 20px 0;
			}

			h4 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: bold;
				font-size: 1em;
			}
		}

		section.feature {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			max-width: 840px;
			margin: 0 auto;
			padding: 0 0 50px 0;

			div.photo {
				max-width: 200px;
				margin: 0 auto;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					max-width: 225px;
					width: auto;
					margin: 0;
					padding: 0;
				}			

				img {
					border-radius: 50%;
					border: 2px solid $white;
					box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
				}
			}

			div.info {
				text-align: center;

				@include tablet-portrait {
					padding: 0 0 0 40px;
					max-width: 615px;
					text-align: left;
				}

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: bold;
					font-size: 2em;
					padding: 0 0 20px 0;

					@include tablet-portrait {
						font-size: 3em;
					}

				}

				p {
					font-size: 1em;
					line-height: 1.5em;
				}
			}
		}


		section#member-gallery {
			max-width: 620px;
			margin: 0 auto;

			.gallery {
				img {
					border: none;
				}
			}
		}


	}


	.event {
		display: flex;
		align-items: flex-start;
		width: 100%;
		margin: 0 0 50px 0;

		&:last-of-type {
			margin: 0;
		}

		@include tablet-landscape {
			margin: 0 0 100px 0;

			&:last-of-type {
				margin: 0;
			}
		}

		.date {
			border: 1px solid $blue;
			color: $blue;
			text-align: center;
			min-width: 84px;

			.month {
				display: block;
				background: $blue;
				color: $white;
				padding: 10px 5px;
				font-weight: 500;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				font-size: 1.125em;
			}
			.day {
				display: block;
				padding: 10px;
				font-weight: bold;
				font-size: 2.25em;
			}
		}

		.info {
			padding: 0 0 0 40px;

			h4 {
				font-family: $crimson;
				font-size: 1.5em;
				padding: 0 0 30px 0;

				a {
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			h5 {
				font-size: 1.25em;
				color: $blue;
				margin: 0 0 25px 0;
				padding: 0 0 0 35px;
				line-height: 24px;
				background-repeat: no-repeat;
				background-position: 0 0;

				&.time {
					background-image: url(images/icon-time.png);
				}

				&.location {
					background-image: url(images/icon-location.png);
					background-position: 3px 0;
				}

				&.cost {
					background-image: url(images/icon-cost.png);
				}
			}
		}
	}


}