body.page-template-membership {

	#main {
		article {

		}

		aside {
			h3 {
				font-weight: bold;
				font-size: 1.25em;
				padding: 0 0 20px 0;
			}

			.how-to {
				padding: 40px;
				border: 1px solid #d5d5d5;

				@include tablet-portrait {
					padding: 30px;
				}

				@include tablet-landscape {
					padding: 40px;
				}

				ol {
					list-style-type: decimal;
					margin: 0 0 0 15px;
					padding: 0 0 20px 0;

					li {
						padding: 0 0 20px 0;
					}
				}
			}

			.btn {
				font-weight: bold;
			}

		}
	}



}