body.page-template-resources {

	section#resources-list {

		.resource-category {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 0 75px 0;
		
			h3 {
				width: 100%;
				font-weight: bold;
				font-size: 1.5em;
				padding: 0 0 20px;
			}

			.resource {
				width: 100%;
				margin: 0 0 50px 0;

				@include mobile-landscape {
					width: 48%;
				}

				@include tablet-portrait {
					width: 31.3333%;
				}

				h4 {
					font-weight: 500;
					padding: 0 0 10px 0;

					a {
						color: $blue;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				p {
					font-size: 0.875em;
					line-height: 1.25em;
				}
			}

			.illumination {
				width: 100%;
				justify-content: center;
				padding: 25px 0 0 0;
			}

			&:last-of-type {
				.illumination {
					display: none;
				}
			}
		}

	}

}