body.page-template-scavenger-hunt {

	#main {

		article {
			width: 100%;

			@include tablet-landscape {
				width: 80%;
			}

			@include desktop {
				width: 66%;
			}

			section#gallery {
				clear: both;
				padding: 40px 0 0 0;
			}
		}

		aside {
			h3 {
				font-weight: bold;
				font-size: 1.5em;
				padding: 0 0 10px 0;

			}

			p {
				font-size: 0.875em;
				line-height: 1.25em;
				padding: 0 0 20px 0;
			}

			.btn {
				text-transform: uppercase;
				font-weight: bold;
			}
		}
	}
}