body.page-template-scholarship {

	aside {
		.apply {
			padding: 20px;
			border: 1px solid #d5d5d5;

			h3 {
				font-weight: bold;
				font-size: 1em;
				text-transform: uppercase;
				letter-spacing: 0.03em;
				padding: 0 0 20px 0;
			}

			p {
				font-size: 0.9375em;
				line-height: 1.25em;
				padding: 0 0 20px 0;
			}

			.btn {
				font-weight: bold;
			}
		}
	}

	section#instagram-feed {
		padding: 0 0 50px 0;

		@include tablet-landscape {
			padding: 0 0 100px 0;
		}

		h2 {
			font-weight: bold;
			font-size: 2em;
			padding: 0 0 10px 0;
		}

		p {
			max-width: 800px;
			font-size: 1.125em;
			line-height: 1.25em;
			padding: 0 0 40px 0;
		}

		#sb_instagram #sbi_load {
			padding-top: 20px !important;
		}


	}

}