body.single-tribe_events {
	.tribe-events-pg-template {
		padding: 100px 0;

		#tribe-events {
			margin: 0 auto;
			max-width: 1200px; 
			padding: 0 25px;
		    transition: padding 0.2s ease-in;

			@media screen and (min-width: 1260px) {
				padding: 0;
			}		
		}
	}

	.tribe-events-back,
	.tribe-events-nav-pagination,
	.tribe-events-cal-links {
		display: none !important;
	}

	.type-tribe_events {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.tribe-events-content {
			@include tablet-landscape {
				width: 66.6666%;
				padding: 0 50px 0 0;
			}
		}

		.tribe-events-event-meta.primary {
			@include tablet-landscape {
				width: 33.3333%;
			}
		}

		.tribe-events-event-meta.secondary {
			
		}
	}

	h1.tribe-events-single-event-title {
		font-weight: 700;
		font-size: 1.75em;
		padding: 0 0 20px 0;
	}

	.tribe-events-schedule h2 {
		display: block;
		font-size: 1.125em;
	}

	.tribe-events-cost {
		display: block;
		margin-left: 0;
		font-size: 1em;
		font-weight: bold;
		padding-top: 5px;
	}

	.tribe-events-content {
		p {
			font-size: 1.125em;
			line-height: 1.5em;
			padding-bottom: 25px;
		}
	}


	.tribe-events-meta-group + .tribe-events-meta-group {
		padding-top: 30px;
	}

	.tribe-events-event-meta {
		h2 {
			padding-bottom: 10px;
		}

		dt {
			display: block;
			padding-bottom: 5px;
		}

		dd {
			margin: 0;
			padding-bottom: 20px;
			display: block;
		}

		.tribe-events-event-categories-label,
		.tribe-events-event-categories {
			display: none;
		}
	}

	.tribe-events-venue-map {
		& > div {
			height: 500px !important;
		}
	}


}


section#event-single {
	padding: 100px 0;

	.wrapper {
		display: flex;


		article {
			@include tablet-landscape {
				width: 66.6666%;
				padding: 0 50px 0 0;
			}

		}

		aside {
			@include tablet-landscape {
				width: 33.3333%;
			}

		}
	}

	h1.tribe-events-single-event-title {
		font-weight: 900;
		font-size: 2em;
		padding: 0 0 50px 0;
		max-width: 800px;
	}


	article {

		.meta {
			display: flex;
			width: 100%;
			align-items: flex-start;
		}

		.description {
			padding: 0 0 20px 0;
			p {
				font-size: 1.125em;
				line-height: 1.25em;
			}
		}

		.cal {
			padding: 20px 0 0 0;

			a {
				font-weight: 700;
				font-size: 0.8125em;
				display: inline-block;
				background: $orange;
				border: 2px solid $orange;
				color: $white;
				padding: 6px 16px;
				border-radius: 12px;
				margin: 0 20px 0 0;

				&:hover {
					background: $white;
					color: $orange;
				}
			}
		}
	}



	.date {
		border: 1px solid $blue;
		color: $blue;
		text-align: center;
		width: 84px;

		.month {
			display: block;
			background: $blue;
			color: $white;
			padding: 10px 5px;
			font-weight: 500;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-size: 1.125em;
		}
		.day {
			display: block;
			padding: 10px;
			font-weight: bold;
			font-size: 2.25em;
		}
	}

	.info {
		padding: 0 0 0 40px;

		h4 {
			font-family: $crimson;
			font-size: 1.5em;
			padding: 0 0 30px 0;

			a {
				color: $blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		h5 {
			font-size: 1.25em;
			color: $blue;
			margin: 0 0 25px 0;
			padding: 0 0 0 35px;
			line-height: 24px;
			background-repeat: no-repeat;
			background-position: 0 0;

			&.time {
				background-image: url(images/icon-time.png);
			}

			&.location {
				background-image: url(images/icon-location.png);
				background-position: 3px 0;
			}

			&.cost {
				background-image: url(images/icon-cost.png);
			}
		}
	}

	.tribe-events-meta-group {

		.tribe-events-single-section-title,
		dl {
			display: none;
		}
	}

	#buy-tickets {
		h2.tribe-events-tickets-title {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.875em;
			font-weight: bold;
		}

		.tribe-events-tickets {
			border-radius: 0;
			background: #fafafa;
		}

		.tribe-events-tickets td {
			padding: 20px 20px;
		}

		.tribe-event-tickets-plus-meta-attendee>header {
			background: transparent;
			padding: 10px 0;
			font-weight: bold;
		}
	}


}