body.page-tribe-attendee-registration {
	section#events-calendar {
		padding: 50px 0;
	}

	.tribe-ticket__heading {
		padding-bottom: 15px;
		font-weight: bold;
		font-size: 1.5em;
	}

	.tribe-ticket {
		h4 {
			padding-bottom: 25px;
			font-weight: bold;
		}
		.tribe-field {
			input {
				width: 100%;
				max-width: 400px;
			}
		}
	}
}

body.woocommerce-page {

	.woocommerce-message,
	.woocommerce-info {
		border: none;
		font-size: 0.875em;
		font-weight: bold;
		background: #fafafa;
	}



	div.woocommerce {
		padding: 50px 0;

		table.shop_table {
			border-radius: 0;
		}

		table.woocommerce-cart-form__contents {
			th {
				font-size: 0.875em;
				text-transform: uppercase;
				background: $slate;
				color: $white;
			}

			td {
				font-size: 0.875em;
				padding: 25px 12px;

				a {
					font-weight: bold;
				}
			}

			tr.cart_item:nth-child(odd) {
				background: #fafafa;
			}

			#coupon_code {
				width: 120px;
			}
		}

		.cart_totals {
			h2 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 1em;
				padding: 0 0 20px 0;
				font-weight: bold;
			}
		}


	}





}

section#woocommerce {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 50px 0;
	}


	.summary {
		h1.product_title {
			font-size: 2em;
			font-weight: bold;
			padding: 0 0 10px 0;
		}

		p.price {
			color: $slate;
			padding: 0 0 20px 0;
		}

		input.qty {
			height: 42px;
			line-height: 42px;
			text-align: center;
		}

		.product_meta {
			display: none;
		}
	}




	.woocommerce-tabs {
		padding: 25px 0 0 0;

		ul.tabs {
			display: none;
		}

		#tab-description {
			h2 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-size: 0.875em;
				font-weight: bold;
				padding: 0 0 20px 0;
			}

			p {
				font-size: 1.125em;
				line-height: 1.25em;

				& + p {
					padding: 10px 0 0 0;
				}
			}

		}
	}

}