body {
	background: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}

section#main {
	padding: 50px 0;

	@include tablet-landscape {
		padding: 50px 0;
	}

	.description {
		max-width: 800px;
		padding: 0 0 50px 0;

		p {
			font-size: 1em;
			line-height: 1.125em;

			@include tablet-portrait {
				font-size: 1.25em;
			}
		}
	}

	&.two-col {

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		article {
			width: 100%;
			padding: 0 0 50px 0;

			@include tablet-portrait {
				width: 60%;
				padding: 0;	
			}

			h3 {
				font-weight: bold;
				padding: 20px 0 10px 0;
				font-size: 1.5em;
			}
			
			p {
				font-size: 1em;
				line-height: 1.25em;
				padding: 0 0 25px 0;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}

			ul {
				list-style-type: disc;
			}

			ol {
				list-style-type: decimal;
			}

			ul, ol {
				margin: 0;
				padding: 0 0 25px 0;
				font-size: 1em;
				line-height: 1.25em;

				li {
					margin-left: 40px;

					& + li {
						padding-top: 15px;

					}
				}
			}
		}

		aside {
			width: 100%;

			@include tablet-portrait {
				width: 30%;
			}

			ul, ol {
				margin: 0;
				padding: 0 0 25px 0;
				font-size: 1em;
				line-height: 1.25em;

				li {
					& + li {
						padding-top: 15px;

					}
				}
			}
		}


	}
}


.cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.separator {
	.wrapper {
		padding: 0;
		max-width: 105px;
	}
}

.illumination {
	display: flex;
	align-items: center;

	span {
		display: inline-block;
		border-radius: 50%;
		margin: 0 10px;

		&.small {
			width: 8px;
			height: 8px;
			opacity: 0.1;
		}
		
		&.medium {
			width: 12px;
			height: 12px;
			opacity: 0.2;
		}

		&.large {
			width: 18px;
			height: 18px;
			opacity: 0.4;
		}

	}

	&.blue span {
		background: #0064b4;
	}

	&.white span {
		background: $white;
	}

	&.orange span {
		background: $orange;
	}

}

section#hero {
	height: 300px;

	@include tablet-portrait {
		height: 400px;
	}

	@include tablet-landscape {
		height: 500px;
	}

	@include desktop {
		height: 600px;
	}

	.wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
	}

	.info {
		height: 100%;
		width: 100%;
		max-width: 480px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;

		h1 {
			font-weight: bold;
			font-size: 3em;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
			font-weight: 100;
			padding: 0 0 25px 0;


			@include tablet-portrait {
				font-size: 5em;
				padding: 0 0 50px 0;
			}
		}

		p {
			padding: 20px 0 0 0;
			font-weight: bold;
		}
	}

}



.jp-carousel-overlay {
	height: 100vh !important;
}
.jp-carousel-slide {
	top: 50px !important;
}

.jp-carousel-close-hint {
	width: 100% !important;
}
.jp-carousel-wrap .jp-carousel-close-hint span {
	width: 72px;
	height: 72px;
	line-height: 72px;
	font-size: 72px !important;
	background: transparent !important;
}
.jp-carousel-info {
	display: none !important;
}

.jp-carousel-transitions .jp-carousel-slide {
	top: 40px !important;
}