html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $quicksand;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $quicksand;
	font-weight: 400;
}

a {
	color: $orange;
	transition: color 0.2s ease-in-out;
}

a.btn {
	background: $orange;
	padding: 12px 48px 14px 48px;
	display: inline-block;
	color: $white;
	font-family: $quicksand;
	border: none;
}

body div.wpforms-container-full .wpforms-form button[type=submit],
.woocommerce div.product form.cart .button,
button.tribe-button {
	font-weight: bold;
	text-transform: uppercase;
	background: $orange;
	padding: 12px 48px 14px 48px;
	display: inline-block;
	color: $white;
	font-family: $quicksand;
	border: none;

	&:hover {
		border: none;	
		background: $orange;
	}

	&:focus,
	&:active {
		outline: none;
	}
}

a.button.alt,
.woocommerce button.button.alt {
	background: $orange !important;
	color: $white;
}

a.btn.fancy {
	background: $white;
	border: 1px solid $orange;
	padding: 3px;


	span {
		background: $orange;
		color: $white;
		font-family: $crimson;
		display: inline-block;
		padding: 16px 32px;
		font-size: 1.5em;
	}


}
