/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2a2a2a;
$yellow: #ffff1b;

$orange: #e78721;
$blue: #164968;

/* Typography
----------------------------------*/
$quicksand: 'Quicksand', sans-serif;
$crimson: 'Crimson Text', serif;